#finance-tracker-form {
    border: 2px solid #260680;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, h3 {
    margin: 10px 0;
}

body {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    background-color: #04285f66;
    color: #260680;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

input, select, button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
}
button {
    background-color: #3a69a7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #230e5e;
}

#transactions-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#transactions-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
#transactions-table th, #transactions-table td {
    border: 1px, solid #260680;
    padding: 8px;
    text-align: center;
}
#transactions-table th {
    background-color: #3a69a7;
    color: white;
}
#transactions-table th:first-child,
#transactions-table td:first-child {
    width: 15%;
}
#transactions-table th:nth-child(2),
#transactions-table td:nth-child(2) {
    width: 15%;
}
#transactions-table th:nth-child(3),
#transactions-table td:nth-child(3) {
    width: 20%;
}
#transactions-table th:nth-child(4),
#transactions-table td:nth-child(4) {
    width: 50%;
}
/* #transactions-table th.date-column {
    width: 15%;
}
#transactions-table th.amount-column {
    width: 15%;
}
#transactions-table th.category-column {
    width: 20%;
}
#transactions-table th.description-column {
    width: 50%;
} */

#filter-section {
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #260680;
    border-radius: 8px;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filter-section h3 {
    margin: 0;
    color: #260680;
    font-size: 1.2em;
    font-weight: bold;
}

#filter-section label {
    margin-right: 10px;
    font-size: 1em;
    color: #260680;
}

#filter-section select, #filter-section input[type="date"], #apply-filter {
    margin: 5px;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #260680;
    border-radius: 5px;
}

#apply-filter {
    padding: 8px 15px;
    background-color: #260680;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    border-radius: 5px;
}

#apply-filter:hover {
    background-color: #4a0bb8;
}